.footer {
    padding: 48px 0 32px 0;
    height: 300px;
    background: #ededed;
    .footer-box {
        display: flex;
        align-items: flex-start;
        color: #b3b3b3;
        width: 1140px;
        margin: 0 auto;
        > div {
            width: 33.333333%;
        }
        .logo {
            p {
                font-size: 35px;
            }
            span {
                font-size: 14px;
            }
        }
        .touch {
            padding-top: 15px;
            .touch-me {
                font-size: 16px;
            }
            .way {
                font-size: 20px;
            }
        }
        .nav {
            ul {
                padding-top: 15px;
                li {
                    cursor: pointer;
                    margin-bottom: 16px;
                    &:hover {
                        color: #999;
                        transition: all .2s linear;
                    }
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}