.footer {
    padding: 96px 0 64px 0;
    .icons {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .file {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}