<footer class="footer">
    <div class="footer-box">
        <div class="logo">
            <p>Obdurate</p>
            <span>We are professional in our service</span>
        </div>
        <div class="touch">
            <p class="touch-me">Contact me</p>
            <p class="way">E-Mail： 1121857865@qq.com</p>
            <p class="way">GitHub： <a href="https://github.com/Ary-tan" target="_blank">https://github.com/Ary-tan</a></p>
        </div>
        <div class="nav">
            <ul>
                <li>首页</li>
                <li>服务</li>
                <li>项目</li>
                <li>关于</li>
                <li>配置说明</li>
            </ul>
        </div>
    </div>
</footer>