<div class="header">
    <div class="menu-btn">
        <span class="logo">ARY-TAN</span>
        <nav class="header-nav">
            <ul class="nav">
                <li *ngFor="let item of nav" (click)="openPath(item)">
                    {{item.name}}
                </li>
            </ul>
        </nav>
        <span class="menuToggle">登录 | 注册
            <nz-input [nzSize]="'large'" [nzType]="'search'" [nzPlaceHolder]="'请输入搜索内容'" [(ngModel)]="value" style="width: 200px;" (nzOnSearch)="onSearch($event)"></nz-input>
        </span>
    </div>
</div>
