.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 9px 18px 0 rgba(168, 172, 185, .62);
    .menu-btn {
        transition: all .3s linear;
        height: 80px;
        left: 0;
        line-height: 52px;
        width: 1200px;
        z-index: 999;
        font-size: 14px;
        color: #b7b6b6;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            height: 80px;
            line-height: 80px;
            width: 10%;
        }
        .header-nav {
            width: 60%;
            height: 80px;
            line-height: 80px;
            .nav {
                display: flex;
                li {
                    cursor: pointer;
                    padding: 0 20px;
                    &:hover {
                        color: white;
                        background-color: rgba(168, 172, 185, .62);
                        transform: translate3d(0, 0, 0);
                        transition: all .3s ease-in;
                    }
                }
            }
        }
        .menuToggle {
            width: 30%;
            border: 0;
            color: #fff;
            display: inline-block;
            padding: 0 0 0 21px;
            text-transform: uppercase;
            cursor: pointer;
            .icon {
                margin-left: 10px;
                font-size: 16px;
                position: relative;
                top: 1px;
            }
        }
    }
}

.nav-show {
    transform: translateX(0) !important;
    transition: transform 0.5s ease !important;
}

.shade {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.58);
    z-index: 10001;
    transition: background-color 0.2s ease;
}
