<div class="banner-box">
    <section class="banner">
        <div class="inner">
            <h2 [ngClass]="{'admin': admin}">ARYTAN-BLOG</h2>
            <p [ngClass]="{'show': admin}">关于技术栈<br/>
                Angular5 node express<br/>
                <a href="https://github.com/Ary-tan" target="_blank">https://github.com/Ary-tan</a>.</p>
            <ul class="actions" [ngClass]="{'show': admin}">
                <li>
                    <button class="button special">Activate</button>
                </li>
            </ul>
        </div>
        <span class="more scrolly" [ngClass]="{'show-more': admin}" (click)="scrollTop($event)">
            查看更多<br/>
            <i class="icon anticon anticon-arrow-down"></i>
        </span>
    </section>
</div>
<section class="one">
    <div class="inner">
        <header class="major">
            <h2>Arcu aliquet vel lobortis ata nisl<br/>
                eget augue amet aliquet nisl cep donec</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br/>
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul class="icons">
            <li>
                <span class="label">Lorem</span>
            </li>
            <li>
                <span class="label">Ipsum</span>
            </li>
            <li>
                <span class="label">Dolor</span>
            </li>
        </ul>
    </div>
</section>
<section class="two">
    <section class="spotlight">
        <div class="image"><img src="../../../assets/pic01.jpg" alt=""/></div>
        <div class="content">
            <h2>Magna primis lobortis<br/>
                sed ullamcorper</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="content">
            <h2>Tortor dolore feugiat<br/>
                elementum magna</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
        <div class="image"><img src="../../../assets/pic02.jpg" alt=""/></div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="../../../assets/pic03.jpg" alt=""/></div>
        <div class="content">
            <h2>Augue eleifend aliquet<br/>
                sed condimentum</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
                aenean mi ligula.</p>
        </div>
    </section>
</section>
<section class="three">
    <div class="inner">
        <header class="major">
            <h2>Accumsan mus tortor nunc aliquet</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br/>
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul class="features">
            <li class="icon fa-paper-plane-o">
                <h3>Arcu accumsan</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-laptop">
                <h3>Ac Augue Eget</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-code">
                <h3>Mus Scelerisque</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-headphones">
                <h3>Mauris Imperdiet</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-heart-o">
                <h3>Aenean Primis</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
            <li class="icon fa-flag-o">
                <h3>Tortor Ut</h3>
                <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean
                    ligula consequat consequat.</p>
            </li>
        </ul>
    </div>
</section>
<section class="cta">
    <div class="inner">
        <header>
            <h2>Arcue ut vel commodo</h2>
            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
        </header>
        <ul class="actions vertical">
            <li>
                <button>Activate</button>
            </li>
            <li>
                <button>了解更多</button>
            </li>
        </ul>
    </div>
</section>
