<div id="text">1</div>
<!--<div class="banner-box" [ngClass]="{'bg-linear': admin}">-->
    <!--<section class="banner">-->
        <!--<div class="inner">-->
            <!--<h2 [ngClass]="{'admin': admin}">ARYTAN-BLOG</h2>-->
            <!--<p [ngClass]="{'show': admin}">关于技术栈<br/>-->
                <!--Angular5 node express<br/>-->
                <!--<a href="https://github.com/Ary-tan" target="_blank">https://github.com/Ary-tan</a>.</p>-->
            <!--<ul class="actions" [ngClass]="{'show': admin}">-->
                <!--<li>-->
                    <!--<button class="button special">分享</button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<span class="more scrolly" [ngClass]="{'show-more': admin}" (click)="scrollTop($event)">-->
            <!--查看更多<br/>-->
            <!--<i class="icon anticon anticon-arrow-down"></i>-->
        <!--</span>-->
    <!--</section>-->
<!--</div>-->
<!--<section class="one">-->
    <!--<div class="inner">-->
        <!--<header class="major">-->
            <!--<h2>我的服务器是用的阿里云服务器<br/>-->
                <!--关于部署网站和和购买域名流程有兴趣的可以咨询我哦~</h2>-->
            <!--<p>大致内容<br/>首先需要购买域名和服务器，购买流程阿里云上面有，消费还是很方便的，只要钱到位分分种你就可以拥有自己的域名和服务器~<br/>-->
                <!--域名需要备案，然后让服务器解析你的域名。当然服务器需要部署你的项目，我用的NODE+EXPRESS搭建的~</p>-->
        <!--</header>-->
        <!--<ul class="icons">-->
            <!--<li>-->
                <!--<span class="label"><i style="color: #00ffcc" class="anticon anticon-line-chart"></i></span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="label"><i style="color: #00f0ff" class="anticon anticon-star"></i></span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="label"><i style="color: #76ddff" class="anticon anticon-message"></i></span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</section>-->
<!--<section class="two">-->
    <!--<section class="spotlight">-->
        <!--<div class="image"><img src="../../../assets/pic01.jpg" alt=""/></div>-->
        <!--<div class="content">-->
            <!--<h2>Magna primis lobortis<br/>-->
                <!--sed ullamcorper</h2>-->
            <!--<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam-->
                <!--aenean mi ligula.</p>-->
        <!--</div>-->
    <!--</section>-->
    <!--<section class="spotlight">-->
        <!--<div class="content">-->
            <!--<h2>Tortor dolore feugiat<br/>-->
                <!--elementum magna</h2>-->
            <!--<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam-->
                <!--aenean mi ligula.</p>-->
        <!--</div>-->
        <!--<div class="image"><img src="../../../assets/pic02.jpg" alt=""/></div>-->
    <!--</section>-->
    <!--<section class="spotlight">-->
        <!--<div class="image"><img src="../../../assets/pic03.jpg" alt=""/></div>-->
        <!--<div class="content">-->
            <!--<h2>Augue eleifend aliquet<br/>-->
                <!--sed condimentum</h2>-->
            <!--<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam-->
                <!--aenean mi ligula.</p>-->
        <!--</div>-->
    <!--</section>-->
<!--</section>-->
<!--<section class="three">-->
    <!--<div class="inner">-->
        <!--<header class="major">-->
            <!--<h2>Accumsan mus tortor nunc aliquet</h2>-->
            <!--<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br/>-->
                <!--fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>-->
        <!--</header>-->
        <!--<ul class="features">-->
            <!--<li class="icon fa-paper-plane-o">-->
                <!--<h3>Arcu accumsan</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
            <!--<li class="icon fa-laptop">-->
                <!--<h3>Ac Augue Eget</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
            <!--<li class="icon fa-code">-->
                <!--<h3>Mus Scelerisque</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
            <!--<li class="icon fa-headphones">-->
                <!--<h3>Mauris Imperdiet</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
            <!--<li class="icon fa-heart-o">-->
                <!--<h3>Aenean Primis</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
            <!--<li class="icon fa-flag-o">-->
                <!--<h3>Tortor Ut</h3>-->
                <!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean-->
                    <!--ligula consequat consequat.</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</section>-->
<!--<section class="cta">-->
    <!--<div class="inner">-->
        <!--<header>-->
            <!--<h2>Arcue ut vel commodo</h2>-->
            <!--<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>-->
        <!--</header>-->
        <!--<ul class="actions vertical">-->
            <!--<li>-->
                <!--<button>Activate</button>-->
            <!--</li>-->
            <!--<li>-->
                <!--<button>了解更多</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</section>-->
